@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-enter-active, .slide-leave-active {
    transition: all .3s ease;
}
.slide-enter, .slide-leave-to {
    transform: translateX(100%);
}
.main-content {
    padding-top: 25px; /* Adjust this value to match the height of your header */
}